/* Start Global Rules */

body{
    font-family: 'Roboto',sans-serif;
}

:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
    --main-transition: 0.3s;
}


.main-title::after{
    content: "";
    position: absolute;
    background-color: var(--green-color);
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    width: 120px;
    height: 3px;
}

/* End Global Rules */

/* Start Navbar */
.navbar{
    background-color: var(--dark-color);
}

.navbar .nav-link{
    color: white;
}

.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus{
    color: var(--green-color);
}

.navbar .search{
    color: var(--green-color);
    border-left: 1px solid var(--green-color);
}

.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded=true]{
    border-color: var(--green-color);
}

/* End Navbar */

/* Start Landing */
.landing{
    background-color: var(--dark-color);
    height: calc(100vh - 72px);
}

/* End Landing */

/* Start Features */
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number{
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder .icon{
    font-size: 4rem;
    color: var(--green-color);
}
.features .feat h2{
    color: var(--yellow-color);
}

/* End Features */

/* Start Skills */

.skills{
    background-color: var(--section-color);
}

.skills .nav-item .nav-link{
    color: black;
}

.skills .nav-item .nav-link.active{
    color: var(--yellow-color);
}

.skills .nav-item .nav-link:not(.active):hover{
    color: var(--green-color);
}

.skills .box{
    padding:5px;
    position: relative;
    overflow: hidden;
}

.skills .box::after{
    content: attr(work-type);
    position: absolute;
    width:  calc( 100% - 10px);
    height: calc( 100% - 10px);
    background-color: rgb(51 209 204 / 76%);
    z-index: 1;
    left: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    transition: var(--main-transition);
    transform: translateX(calc(-100% - 5px));
}

.skills .work-col:hover .box::after{
    transform: translateX(0);
}


.skills .btn-style{
    color: var(--yellow-color);
}

/* End Skills */

/* Start Stuff */
.stuff .description{
    max-width: 500px;
}

.stuff button{
    color: var(--yellow-color);
}
/* End Stuff */

/* Start Team */
.team {
    background-color: var(--section-color);
  }
  .team h2 {
    color: var(--yellow-color);
  }
  .team .box h4 {
    background-color: var(--green-color);
  }

/* End Team */

/* Start project */
.project{
    background-color: var(--dark-color);
}

.project button{
    color: var(--yellow-color);
}
/* End project */

/* Start Subscribe */
.subscribe{
    background-color: var(--yellow-color);
}
.subscribe input[type="email"]{
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input[type="email"]::placeholder{
    color: white;
}
.subscribe input[type="email"]:focus{
    outline: none;
}
/* End Subscribe */

/* Start Footer */
.footer{
    background-color: var(--dark-color);
}

.footer .author{
    color: var(--green-color);
}

.footer .copy{
    color: var(--yellow-color);
}

.footer ul{
    list-style: none;
    margin: 0;
}
.footer ul li{
    margin: 0;
    margin-right: 20px;
}

.footer ul li svg{
    margin: 0;
    font-size: 1.5rem;
}

.footer h5{
    color: white;
}

.footer p{
    margin: 0;
    margin-bottom: 8px;
}

.footer .button{
    color: var(--yellow-color);
}
/* End Footer */